body{
	margin:0;
	background: #fff;  
}
body a{ 
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	transition: 0.5s all;
	text-decoration:none;
	outline:none;
}
h1,h2,h5,h6{
	margin:0;
	font-family: 'Open Sans Condensed', sans-serif;
}
p{
	margin:0;
}
ul{
	margin:0;
	padding:0;
}
body a:hover,body a:focus {
	text-decoration:none;
	outline: none;
} 
/*-- banner --*/
.agileits-banner {
	background: #08ccf7;
	position: relative;
} 
/*-- logo --*/
.w3llogo h1 {
    font-size: 3.2em;
    margin-top: .25em;
    line-height: 0.8em;
    font-weight: 900;
}
.w3llogo h1 a {
    display: inline-block;
    color: #08ccf7;
    letter-spacing: 2px;
}
/*-- //logo --*/
/*-- top-nav --*/
.w3menu.navbar-left {
    margin-left: 12em;
}
.top-nav {
    z-index: 999;  
	background:#fff;
}
ul.nav.navbar {
    text-align: center;
    margin: 0;
    min-height: inherit;
    background: #08ccf7;
    border-radius: 0;
    border: none;
}
.top-nav ul li { 
    display: inline-block;
	float: left;
} 
/* Effect 11: text fill based on Lea Verou's animation http://dabblet.com/gist/6046779 */
.top-nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1.1em;
    color: #ff5722;
    position: relative;
    font-weight: 400;
    padding: 1.3em 2em;
    display: inline-block;
    background: #fff;
	-webkit-transition:.5s all;
	-moz-transition:.5s all; 
	transition:.5s all;
}
.nav > li > a:hover, .nav > li > a:focus {
    background: none;
} 
.top-nav ul li a:hover, .top-nav ul li a.active {
    background: transparent;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    color: #ffffff;
    font-weight: bold;
}
/*-- //top-nav --*/
/*-- social-icons --*/ 
/*-- //social-icons --*/
/*-- banner-text --*/
.banner-w3text.w3layouts {
   padding: 1em 0;
    padding-top: 5px;
    padding-bottom: 20px;
}
.banner-w3text h2 {
    font-size: 5em;
    color: #000000; 
    text-align: center;
    font-weight: bold;
}
.banner-w3text h2 span {
    font-weight: 900;
    color: #ffffff;
}
.banner-w3text  h6 {
    font-size: 1em;
    color: #ffffff;
    text-align: center;
    letter-spacing: 5px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: tahoma;
}
/*-- //banner-text --*/
/*-- banner-bottom --*/
/*-- //banner-bottom --*/
/*-- about --*/
.services{
	padding:2em 0;
}
p{
	font-size:1em;
	color: #999;
    line-height: 1.8em; 
}
/*-- //about --*/
/*-- services --*/
.services {
    background: #fafafa;
    min-height : 474px;
}
.services-w3grid {
    text-align: center;
} 
/*-- Effect 1 --*/
.services-w3grid span {
    font-size: 1.5em;
    color: #fff;
    display: inline-block;
    border-radius: 50%;
    text-decoration: none;
    z-index: 1;
    padding: 1em;
	background: #FF5722;
	-webkit-transition:.5s all;
	-moz-transition:.5s all;
	-ms-transition:.5s all;
	-o-transition:.5s all;
	transition:.5s all;
}  
.hi-icon:after {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
    border-radius: 50%;
    content: '';
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
	top: -8px;
    left: -8px;
    padding: 8px;
    z-index: -1;
    opacity: 0;
	-webkit-box-shadow:3px 3px #FF5722;
	-moz-box-shadow:3px 3px #FF5722;
	-ms-box-shadow:3px 3px #FF5722;
	-o-box-shadow:3px 3px #FF5722;
	box-shadow:3px 3px #FF5722;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
    -moz-transition: opacity 0.2s, -moz-transform 0.2s;
    transition: opacity 0.2s, transform 0.2s;
}
.services-w3grid  span.hi-icon:before { 
    -webkit-transition:.5s all;
	-moz-transition:.5s all;
	-ms-transition:.5s all;
	-o-transition:.5s all;
	transition:.5s all;
}
/*-- //Effect 1 --*/
.services-w3grid h5 {
    font-size: 1.6em;
    margin: 0.8em 0 .5em;
    color: #08ccf7;
    font-weight: bold;
}
.services-w3grid p { 
    color: #555; 
}
/*-- //services --*/
/*-- events --*/
/*-- //events --*/
/*-- footer --*/
/*-- newsletter --*/
/*-- //newsletter --*/
/*-- //footer --*/
/*-- slider-up-arrow --*/
/*-- //slider-up-arrow --*/ 
/*-- about page --*/
/*-- //about page --*/ 
/*-- team --*/
/*-- image-hover --*/ 
 
/***** Julia *****/
/*---------------*/
/*-- //team --*/
/*-- gallery --*/  
/*-- imghvr-hinge --*/
 
/*-- imghvr-hinge-right -- */  
/*-- //gallery --*/ 
/*-- contact --*/
/*-- address --*/ 
/*-- //contact --*/
/*-- single --*/
/*-- //single --*/
/*-- pages --*/
/*-- icons --*/
/*-- //icons --*/
@media (max-width:640px){
	h1, h2 {
		margin-top: 0px;
		margin-bottom: 0px;
	}
}
/*-- //pages --*/
/*-- responsive-design --*/ 
@media(max-width:1080px){
.w3menu.navbar-left {
    margin-left: 8em;
}
.top-nav ul li a { 
    padding: 1.3em 1.5em; 
}
.banner-w3text.w3layouts {
    padding: 1em 0;
}
.services-w3grid h5 {
    font-size: 1.3em;
    margin: 1em 0 .5em; 
}
.banner-w3text h2 {
    font-size: 4em; 
} 
.services  {
    padding: 4em 0;
} 
}
@media(max-width:1024px){
.banner-w3text h2 {
    font-size: 3em;
}
}
@media(max-width:991px){
.top-nav ul li a {
    padding: 1.4em 1.1em;
	font-size:1em;
}
.w3llogo h1 {
    font-size: 2.8em; 
}
.w3menu.navbar-left {
    margin-left: 4em;
}
.navbar-collapse.collapse { 
    padding: 0; 
}
.banner-w3text h6 { 
    letter-spacing: 3px; 
}
.banner-w3text.w3layouts {
    padding: 1em 0;
}
} 
@media(max-width:768px){
.w3llogo h1 {
    font-size: 2.6em;
    margin-top: 0.35em;
}
.banner-w3text.w3layouts {
    padding: 1em 0;
}
.banner-w3text h6 {
    letter-spacing: 2px;
} 
}
@media(max-width:767px){
.w3llogo h1 { 
    margin-top: 0;
}
.top-nav { 
    padding: 1em;
}
div#bs-example-navbar-collapse-1 {
    position: absolute;
    width: 100%;
    margin: 0.9em 0 0;
    padding: 0;
    background: #fff;
    text-align: center;
    z-index: 9;
    left: 0;
}
.w3menu.navbar-left {
    margin-left: 0;
}
.top-nav ul li {
    display: block;
    float: none;
}
.top-nav ul li a {
    padding: 1.2em 1em; 
    display: block;
}
}
@media(max-width:736px){
.services-w3grid span {
    font-size: 1.2em; 
}
.services-w3grid h5 {
    font-size: 1.2em; 
}
.services-w3grid p { 
    margin: 0 1em;
}
.services {
    padding: 3em 0;
}
}
@media(max-width:667px){
.banner-w3text h6 {
    font-size: 0.9em; 
} 
}
@media(max-width:600px){
.banner-w3text.w3layouts {
    padding: 1em 0;
}
}
@media(max-width:568px){
.services-w3grid p {
    margin: 0 0.5em;
}
}
@media(max-width:480px){
.banner-w3text h6 {
    font-size: 0.8em;
    line-height: 2em;
    padding: 0 3em;
}
}
@media(max-width:414px){
.banner-w3text h2 {
    font-size: 2.2em;
}
.banner-w3text.w3layouts {
    padding: 1em 0;
    padding-top: 30px;
    margin-top: -15px;
    margin-bottom: 0px;
}
.services {
    padding: 2em 0;
}
p {
    font-size: 0.9em; 
}  
}  
@media(max-width:384px){
.services-w3grid p {
    margin: 0;
}
.services-w3grid h5 {
    font-size: 1.1em;
}
.services-w3grid {
    padding: 0 .5em;
}
} 
@media(max-width:320px){
.w3llogo h1 {
    font-size: 2.4em; 
}
.banner-w3text h2 {
    font-size: 1.8em;
}
.banner-w3text h6 { 
    padding: 0 1em;
    letter-spacing: 1px;
}
.services-w3grid span {
    font-size: 1em;
}
.services-w3grid h5 {
    font-size: 1em;
}
}
/*-- //responsive-design --*/