<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
		 http://xmlns.jcp.org/xml/ns/javaee/web-app_3.xsd"
         version="3.0">
   
   <context-param>
     <param-name>db.url</param-name>
     <param-value>jdbc:mysql://us-cdbr-iron-east-05.cleardb.net/heroku_f55a18f0ecfd999</param-value>
   </context-param>
   
   <context-param>
     <param-name>db.user</param-name>
     <param-value>bb9837ece01288</param-value>
   </context-param>
   
   <context-param>
     <param-name>db.password</param-name>
     <param-value>fe21ab0a</param-value>
   </context-param>
   
   <context-param>
     <param-name>smtp.host</param-name>
     <param-value>smtp.zoho.com</param-value>
   </context-param>
   
   <context-param>
     <param-name>smtp.port</param-name>
     <param-value>587</param-value>
   </context-param>
   
   <context-param>
     <param-name>smtp.email</param-name>
     <param-value>noreply@thinktech.sn</param-value>
   </context-param>  
   
   <context-param>
     <param-name>smtp.password</param-name>
     <param-value>pa145rgd95vnfn32</param-value>
   </context-param>
   
   <context-param>
     <param-name>groovy.imports</param-name>
     <param-value>groovy.sql.Sql,app.FileManager,groovy.text.markup.MarkupTemplateEngine</param-value>
   </context-param>
   
   <session-config>
		<session-timeout>-1</session-timeout>
	</session-config>
         
</web-app>